<header class="w-full">
  <div
    class="flex flex-col items-center gap-4 px-4 sm:px-8 lg:flex-row lg:items-center lg:gap-8 lg:px-16 py-4"
  >
    <div class="flex items-center gap-4">
      <img
        src="/assets/logo.png"
        alt="Maisy Miles Logo"
        class="h-28 sm:h-36 lg:h-48 hidden sm:block"
      />
      <img
        src="/assets/logo-lettering.png"
        alt="Maisy Miles"
        class="h-32 lg:h-44"
      />
    </div>

    <!-- Buttons: below on small, right on large -->
    <nav
      class="buttons order-last mt-4 flex w-3/4 min-w-38 sm:w-full justify-center gap-2 sm:gap-3 lg:order-none lg:mt-0 lg:ml-auto lg:w-auto lg:justify-end flex-col sm:flex-row lg:flex-col xl:flex-row"
    >
      <a
        [href]="etsyUrl"
        class="btn btn-accent border-3 border-accent-content text-xl sm:text-2xl font-medium rounded-full min-h-12 px-5"
        aria-label="Visit our Etsy shop"
        target="_blank"
        rel="noopener noreferrer"
        >ETSY SHOP</a
      >

      <a
        [href]="instagramUrl"
        class="btn btn-accent border-3 border-accent-content text-xl sm:text-2xl font-medium rounded-full min-h-12 px-5 inline-flex items-center gap-2"
        aria-label="Visit our Instagram"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ng-icon
          name="simpleInstagram"
          class="text-[1.25rem] relative -top-[1px]"
        ></ng-icon>
        INSTAGRAM
      </a>

      <a
        [href]="facebookUrl"
        class="btn btn-accent border-3 border-accent-content text-xl sm:text-2xl font-medium rounded-full min-h-12 px-5 inline-flex items-center gap-2"
        aria-label="Visit our Facebook page"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ng-icon
          name="simpleFacebook"
          class="text-[1.25rem] relative -top-[1px]"
        ></ng-icon>
        FACEBOOK
      </a>
    </nav>
  </div>
</header>
