<header class="w-full h-full">
  <div class="flex justify-between items-center w-full h-full px-16">
    <div class="flex w-full h-full items-center">
      <img src="/assets/logo.png" alt="Maisy Miles Logo" class="h-64 " />
      <h1>
        <img src="/assets/logo-lettering.png" alt="Maisy Miles" class="h-64 pt-8 pl-8" />
      </h1>
      <!-- <img src="/assets/handmade-lettering.png" alt="Handmade text" class=" pl-16 h-24"> -->
    </div>
    
    <div class="flex justify-between items-center  w-[380px] text-xl mr-16">
      <a
        [href]="etsyUrl"
        class="btn btn-circle btn-xl btn-accent border-3 border-accent-content text-[2.6rem] w-18 h-18"
        aria-label="Visit our Etsy shop"
        target="_blank"
        rel="noopener noreferrer"
        ><ng-icon name="boxEtsyLogo"></ng-icon
      ></a>
      <a
        [href]="instagramUrl"
        class="btn btn-circle btn-xl btn-accent border-3 border-accent-content text-[1.75rem] w-18 h-18"
        aria-label="Visit our Instagram"
        target="_blank"
        rel="noopener noreferrer"
        ><ng-icon name="simpleInstagram"></ng-icon
      ></a>
      <a
        [href]="facebookUrl"
        class="btn btn-circle btn-xl btn-accent border-3 border-accent-content text-[1.75rem] w-18 h-18"
        aria-label="Visit our Facebook page"
        target="_blank"
        rel="noopener noreferrer"
        ><ng-icon name="faBrandFacebookF"></ng-icon
      ></a>
    </div>
  </div>
</header>
